<h2><%= t('helpers.select.login') %></h2>

<%= link_to t('helpers.select.back_to_top'), books_path %>
<%= link_to 'Githubでログイン', user_github_omniauth_authorize_path %>
<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="field">
    <%= f.label t('helpers.user_column.mail') %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>

  <div class="field">
    <%= f.label t('helpers.user_column.password') %><br />
    <%= f.password_field :password, autocomplete: "current-password" %>
  </div>

  <div class="actions">
    <%= f.submit t('helpers.select.login') %>
  </div>
<% end %>

<%= render "users/shared/links" %>
