<% if users.empty? %>
  <h3><%= t('messages.no_user') %></h3>
<% else %>
  <table>
    <thead>
      <tr>
        <th><%= User.human_attribute_name(:image) %></th>
        <th><%= User.human_attribute_name(:username) %></th>
        <th><%= User.human_attribute_name(:introduction) %></th>
      </tr>
    </thead>

    <tbody>
      <% users.each do |user| %>
        <tr>
          <td><%= image_tag user.image, :size =>'50x50' if user.image.attached? %></td>
          <td><%= link_to user.username, user %></td>
          <td><%= user.introduction %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>
