<% if @user %>
  <%= render 'users/shared/header', user: @user %>
  <p>
    <strong><%= User.human_attribute_name(:username) %>:</strong>
    <%= @user.username %>
  </p>

  <p>
    <strong><%= User.human_attribute_name(:introduction) %>：</strong>
    <%= @user.introduction %>
  </p>

  <hr>
  <%= render 'users/shared/item_table', posts: @posts %><br>
<% else %>
  <%= link_to t('helpers.select.back_to', page: "トップページ"), root_path %><br>
  <h3><%= t('messages.no_user') %></h3>
<% end %>
