<%= link_to t('helpers.select.back_to_top'), books_path %><br>
<% if @user %>
  <%= link_to "フォロー数:#{@user.following.count}" , following_user_path(@user.id) %><br>
  <%= link_to "フォロワー数:#{@user.followers.count}", followers_user_path(@user.id) %><br>
  <p>
    <strong><%= User.human_attribute_name(:username) %>:</strong>
    <%= @user.username %>
  </p>

  <p>
    <strong><%= User.human_attribute_name(:image) %>:</strong>
    <%= image_tag @user.image, size: '150x150' if @user.image.attached? %>
  </p>

  <% if @user == current_user %>
    <p>
      <strong><%= User.human_attribute_name(:email) %>:</strong>
      <%= @user.email %>
    </p>

    <p>
      <strong><%= User.human_attribute_name(:postcode) %>:</strong>
      <%= @user.postcode %>
    </p>

    <p>
      <strong><%= User.human_attribute_name(:address) %>:</strong>
      <%= @user.address %>
    </p>
  <% end %>

  <p>
    <strong><%= User.human_attribute_name(:introduction) %>：</strong>
    <%= @user.introduction %>
  </p>
  <% unless @books.empty? %>
    <p>これまでの投稿一覧</p>
    <%= render 'books/table', books: @books %>
  <% end %>
<% else %>
  <p><%= t('messages.no_user') %></p>
<% end %>
