<p id="notice"><%= notice %></p>

<h1><%= t('helpers.column.Books') %></h1><br>
<% if user_signed_in? %>
  <%= link_to t('helpers.select.account_info'), user_path(current_user.id) %>
  <%= link_to t('helpers.select.account_index'), users_path %>
  <%= button_to t('helpers.select.logout'), destroy_user_session_path, method: :delete %>
  <%= render 'table', books: @books %>
  <%= link_to t('helpers.select.New Book'), new_book_path %><br><br>
<% else %>
  <%= link_to t('helpers.select.signup'), new_user_registration_path %>
  <%= link_to t('helpers.select.login'), new_user_session_path %>
<% end %>  
<br>
